<div class="main-page">

  <!-- HERO SECTION -->
  <section class="hero-image">

    <img src="assets/background.jpg" class="bg-image">

    <div class="hero-text">
      <h3>|| శ్రీ ||</h3>
      <h1>Kartick ❤ Kathyaini</h1>
    </div>

  </section>


  <section class="invite-section">

  <img src="assets/ganesh1.png" class="ganesh">
  
  <p>
    With the heavenly blessings of <br>
    Mavuduru & Vanamali's Family
  </p>

  <h1>INVITE</h1>

  <p>You to the Wedding Celebration of</p>
 <div class="couple-names">
  <p>Kartick</p>
  <p class="amp">&</p>
  <p>Kathyaini</p>
</div>
<p>On the following Date</p>
</section>

  <!-- WEDDING DETAILS -->
  <section class="details">

    <h2>Wedding Ceremony</h2>

    <p>📅 3 May 2026</p>
    <p>⏰ 12:18 PM</p>

    <p>
      📍 Surya Teja Kalyana Mandapam <br>
      Arasavelli
    </p>


<h2>Venue Location</h2>

<a class="btn btn-danger"
href="https://maps.google.com/?q=Surya+Teja+Kalyana+Mandapam+Arasavelli"
target="_blank">

Open in Google Maps

</a>

</section>


  <!-- FOOTER -->
  <section class="footer">

    <h3>We request your presence</h3>
    <p>to bless the couple 💐</p>

  </section>

</div>