<!-- TAP TO OPEN SCREEN -->

<div class="open-screen" *ngIf="!opened" (click)="openInvitation()">

  <div class="open-card">

    <img src="assets/ganesh1.png" class="open-ganesh">

    <h2>Kartick ❤ Kathyaini</h2>

    <p>Tap to Open Invitation</p>

  </div>

</div>


<!-- BACKGROUND MUSIC -->

<audio #bgMusic loop preload="auto">
  <source src="assets/sita.mp3" type="audio/mpeg">
</audio>



<!-- MAIN WEBSITE -->

<div *ngIf="opened" class="main-page">


  <!-- HERO SECTION -->

  <section class="hero-image">

    <div class="hero-text">

      <h3>|| శ్రీ ||</h3>

      <div class="couple-names">
        <span>Kartick</span>
        <span class="heart">❤</span>
        <span>Kathyaini</span>
      </div>

    </div>

  </section>
<!-- GOLDEN DIVIDER -->
<div class="gold-divider">
  <span>✦</span>
  <span>✦</span>
  <span>✦</span>
</div>


  <!-- INVITE SECTION -->
<!-- INVITE SECTION -->

<section class="invite-section">

  <img src="assets/ganesh1.png" class="ganesh">

  <p>
    With the heavenly blessings of <br>
    Mavuduru & Vanamali's Family
  </p>

  <h1>INVITE</h1>

  <p>You to the Wedding Celebration of</p>

  <div class="couple-names">
    <p>Kartick</p>
    <p class="amp">&</p>
    <p>Kathyaini</p>
  </div>

  <p>On the following Date</p>

</section>

<!-- GOLDEN DIVIDER -->
<div class="gold-divider">
  <span>✦</span>
  <span>✦</span>
  <span>✦</span>
</div>

<!-- FAMILY SECTION -->

<section class="family-section">

  <h2>The Families</h2>

  <div class="family-container">

    <div class="family-block">

      <h3>Groom</h3>

      <p class="name">Kartick</p>

      <p>
        Son of <br>
        <strong>Late Sri Vanamali Venkata Bhaskara Rao</strong><br>
        & Smt. Sarada
      </p>

    </div>


    <div class="family-block">

      <h3>Bride</h3>

      <p class="name">Kathyaini</p>

      <p>
        Daughter of <br>
        <strong>Sri Mavuduru Bhaskhara Rao</strong><br>
        & Smt  Sandhya Devi
      </p>

    </div>

  </div>

</section>
<!-- GOLDEN DIVIDER -->
<div class="gold-divider">
  <span>✦</span>
  <span>✦</span>
  <span>✦</span>
</div>

  <!-- EVENTS -->

  <section class="details">

    <h2>Wedding Celebrations</h2>

    <p>💍 Wedding Ceremony</p>

    <p>📅 3 May 2026</p>

    <p>⏰ 12:18 AM</p>

    <p>
      📍 Surya Teja Kalyana Mandapam <br>
      Arasavelli, Srikakulam
    </p>

  </section>

<div class="gold-divider">
  <span>✦</span>
  <span>✦</span>
  <span>✦</span>
</div>

  <!-- VENUE -->

  <section class="details">

    <h2>Venue</h2>

    <p>
      Surya Teja Kalyana Mandapam
    </p>

    <p>
      Arasavelli, Srikakulam
    </p>


    <a class="map-btn"
    href="https://maps.google.com/?q=Surya+Teja+Kalyana+Mandapam+Arasavelli"
    target="_blank">

      Open in Google Maps

    </a>

  </section>

<div class="gold-divider">
  <span>✦</span>
  <span>✦</span>
  <span>✦</span>
</div>

  <!-- FOOTER -->

  <section class="footer">

    <h4>We look forward to celebrating with you</h4>

    <p>Save the Date 💐</p>

    <h3>Kartick & Kathyaini</h3>

  </section>


</div>